* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background-image: url(https://th.bing.com/th/id/OIP.WtCqBbP6oGBb8hCqbi86WgHaEK?pid=ImgDet&rs=https://th.bing.com/th/id/OIP.WtCqBbP6oGBb8hCqbi86WgHaEK?pid=ImgDet&rs=1);*/

} 

.container {
    text-align: center;
}

.logo img {
    border-radius: 50%;
    margin-top: 6%;
}

.container h1 {
    text-align: center;
    font-family: yellowtail;
    color: white;
    margin-bottom: -4%;
    margin-top: 1%;
}

.form-box {
    width: 380px;
    height: 560px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    padding-top: 10px;
    overflow: hidden;
    justify-content: center;
    border-radius: 10px;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 4px;
}

@media only screen and (max-width: 700px) {
    .logo img {
        width: 50px;
        height: 50px;
    }
    .container h1 {
        font-size: 20px;
        margin-bottom: -15%;
    }
    .form-box {
        width: 300px;
        height: 580px;
        margin-bottom: 500px;
        margin-top: 70px;
        padding: 0%;
    }
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    /* background: linear-gradient(to right,yellow); */
    background-color: #00EEEE;
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    text-align: center;
    line-height: 860px;
    vertical-align: bottom;
}

.fa {
    padding: 5px;
    font-size: 18px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    color: black;
    width: 100%;
    padding: 10px 0;
    font-style: normal;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    display: flex;
    text-decoration-color: black;
    font-weight: normal;
    font-family: 'arial';
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #98f5ff;
    /* background: linear-gradient(to right, yellow); */
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech-box {
    margin: 30px 10px 30px 0;
    font-weight: 700;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

@media(max-width: 700px) {
    .input-field {
        color: black;
        width: 80%;
        margin-left: -10px;
    }
    .submit-btn {
        width: 42.5%;
        padding: 5px 15px;
        margin-left: 40px;
        margin-right: 50px;
    }
    .social-icons {
        margin-left: 4px;
    }
    input.chech-box {
        width: 12px;
        height: 12px;
    }
    span {
        color: #777;
        font-size: 10px;
        bottom: 68px;
        position: absolute;
    }
}


/* .dropdown{
    text-align: left;
    position: relative;
    display: flex;
    box-shadow: none;
    background: none;
    outline: none;
    width: 280px;
    position: absolute;
    text-emphasis: none;
   text-decoration: none;
   font-style: normal; 
  text-indent: 1px;
  text-overflow: "";
  
} */

select {
    user-select: none;
    background: #d9f1ff;
    padding: 5px;
    margin-left: 35px;
    border-radius: 15px;
    color: #000;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 180px;
    font-size: 13px;
    text-overflow: "";
    font-weight: 300;
    display: inline-block;
    text-align: center;
}

@media(max-width: 700px) {
    select {
        padding: 5px;
        margin-left: 0px;
        border-radius: 15px;
        width: 180px;
        font-size: 13px;
    }
}

#d9f1ff